*{

    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{    

font-size: 62.5%;
font-family: 'Encode Sans Semi Condensed', sans-serif;


}

.MainContainer{
width: 100vw;
height: 100vh;
min-width:320px;
background-color:navy;

}

header{

    width:100%;
  
    min-width:320px;
}

header nav .menu{

width: 30px;
cursor: pointer;
}


h1{

font-size: 4.0rem;
color:skyblue;
}

nav{
display: flex;
justify-content:space-between;
height: 50px;
}









.Main__SearchContainer{
display: flex;
justify-content: space-around;
width: 600px;
height: 120px;
margin: 25px auto;

padding: 20px;
border-radius: 20px;
box-shadow: 5px 10px;
}

.Main__SeachContainer--input{
    display: flex;
    align-items: center;
}

.inputSearch {

width:400px;
height: 50px;
font-size: 2.5rem;
border-radius: 10px;
outline: none;
border:0;
background-color:white;
}



.Main__SeachContainer--button{
    display: flex;
    align-items: center;
  
    
    }
