/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
box-sizing: border-box;
padding: 0;
margin:0;

}

html{
font-size: 62.5%;
font-family: 'Encode Sans Semi Condensed', sans-serif;

}

#container{
width: 100vw;
height: 100vh;
background-color:white;

}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
h1{

font-size: 2.0rem;
color: white;

}

nav{
display: flex;
justify-content: center;
align-items: center;
height: 25vh;
}

.logo{

width: 120px;

}

.logo-container{
width: 300px;
display: flex;
justify-content:center;
align-items: center;
}

nav ul{
list-style: none;
}

nav ul li{
display: inline-block;
font-size: 1.8rem;
margin-left: 12px;
background-color: deepskyblue;
padding: 10px;

}

nav ul li:hover{

background-color: gold;
cursor: pointer;

}

nav ul li a{

text-decoration: none;

}